* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
 
}

html,
body {
  height: 100%;
  width: 100%;scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

#all-reels {
  height: 100vh;
  width: 100%;
  
}

.reels {
  height: 100vh;
  width: 100%;

  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  scroll-snap-align: start;
}
img {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.bottom-part {
  width: 100%;
  
  height: 12vh;
  padding-bottom: 15vh;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.788));
}

.bottom-top {
  display: flex;
  justify-content: space-between;
}
.bottom-top > div {
  display: flex;
  /* background-color: blueviolet; */
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.bottom-top > div > h1 {
  font-weight: 300;
  font-size: 2vh;
}
.bottom-top > h1 > i {
  display: flex;
  font-size: 2.5vh;
  align-items: center;
  margin-right: 3vh;
}

button {
  padding: 0.5vh 2.2vh;
  font-size: 1.5vh;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 1vh;
  color: white;
}
button:active {
  transform: scale(0.95);
}
.photo {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background-color: white;
  margin-left: 3vh;
}

.bottom-top > div > h1 {
  color: white;
  /* background-color: yellow; */
  max-width: 15vh;
  padding-bottom: 0.2vh;
  /* height: 2vh; */
  overflow: hidden;
  line-height: 20px;
}

.bottom-top > h1 > i {
  color: white;
}

.bottom-part > h1 {
  font-size: 1.8vh;
  font-weight: 200;
  margin-top: 0.8vh;
  
  /* background-color: blue; */
  height: 6.5vh;
  width: 37vh;
  color: white;
  margin-left: 3vh;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
  scrollbar-width: none;
}

.left-part {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
margin-bottom: 3vh;
  height: 100vh;
  width: 10vh;
  color: white;
  padding-bottom: 1vh;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.384));
}

.left-part {
  overflow: hidden;
  width: 10vh;
  text-align: center;
}

i {
  font-weight: 200;
}

h3 {
  font-weight: 200;
  user-select: none;
 
}
